<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/blog-home.css" rel="stylesheet">

</head>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Company">Company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="About_us">About Us</a>
      </li>

       <li class="nav-item">
        <a class="nav-link " href="Services">Services</a>
      </li>

       <li class="nav-item">
        <a class="nav-link " href="createpost">createPost</a>
      </li>
         <li class="nav-item">
        <a class="nav-link " href="sendEmail">Send Email</a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="logOut">Logout</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Hello I am Mukesh</h5>
    <p class="card-text">I am a student. I created this website using django with sqlite3. 

</p>
    <a href="Visit" class="btn btn-primary">Visit Here</a>
  </div>
</div>
